<!-- where angular is told to start running -->

<div ng-app='app'>
  <div class='navigation'>
  <ul>
    <li><a href='../#/' class='index'>All links</a></li>
    <li><a href='../#/create/' class='index'>Create</a></li>
  </ul>
  <div id='container'></div>
  <div class='content'>
    <div ng-view></div>
  </div>
</div>