<div ng-controller='HomeController'>
  <input ng-model='search' placeholder='Search for site...'/>
  <div>
    <div class='link' ng-repeat='link in links | filter : {title:search} | orderBy : "-visits"'>
      <div class='visits'>visits:<span class='count'>{{link.visits}}</span></div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <div><a href='{{link.base_url}}/{{link.code}}' ng-click='urlUsed(link.code)'>{{link.base_url}}/{{link.code}}</a></div>
    </div>
  </div>
</div>